<div data-role="view" data-title="Details" data-model="app.<%= parent %>.<%= name %>"
     data-bind="events: { show: detailsShow }">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: currentItem.<%= (typeof detailHeaderField !== 'undefined' && detailHeaderField) || headerField || '_no_header_specified_' %>" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;"></span>
        </div>
    </header>

    <% if(typeof detailSubHeaderField !== 'undefined' && detailSubHeaderField) { %><h3 data-bind="text: currentItem.<%= detailSubHeaderField %>"></h3><% } %>
    <% if(typeof detailDescriptionField !== 'undefined' && detailDescriptionField) { %><p data-bind="text: currentItem.<%= detailDescriptionField %>"></p><% } %>
    <% if(typeof detailImageField !== 'undefined' && detailImageField) { %><img data-bind="attr: { src: currentItem.<%= detailImageField %>Url }" width="100%" height="auto"><% } %>
    <!-- START_CUSTOM_CODE_<%= name %> -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_<%= name %> -->
</div>
