<div data-role="view" data-title="什麼是彩色亮度" data-layout="main" data-model="app.clo1" data-show="app.clo1.onShow" data-after-show="app.clo1.afterShow">

    <!-- START_CUSTOM_CODE_clo1 -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- Page: clo1  -->
    <ul data-role="listview" data-inset="false">
        <!--視窗捏放-->
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=2.5, user-scalable=2">
        <!--視窗捏放-->
        <div role="main" class="ui-content">
            <div id="textSize-57-20" style="font-size:16px; width:95%; margin:10px 0px 0px 15px; boredr:1px solid #000;">
                <div class="ffy15">
                    什麼是彩色亮度?
                </div>
                <div class="ffw12">
                    彩色亮度,是一種新的測量指標,為投影消費者提供了辨別投影機 彩色還原能力的依據。如果投影機輸出的色彩亮度與白色亮度相等, 則更可能輸出更協調均衡的整體色彩。在 紅、綠、藍 三原色的亮度 支持下,使用者可對投影機彩色亮度輸出進行評估並做出購買決策。
                </div>
                <img style="width:50%;height:50%;margin:7px 0px 10px 70px" src="http://epson.idv.tw/images/clo/projector_1.png" is="image">
                <div class="ffy15">
                    通常的亮度參數可以評估投影機的色彩表現嗎?
                </div>
                <div class="ffw12">
                    不可以。通常產品規格中的亮度指白色亮度。它無法提供關於投影機彩色再現的能力。
                </div>
                <br>
                <div class="ffy15">
                    彩色亮度對投影機為何重要 ?
                </div>
                <div class="ffw12">
                    《信息顯示測量標準》(IDMS)2012 年 5 月發佈了彩色亮度的測量方法, 《信息顯示測量標準》(IDMS)由國際信息顯示協會(SID)管理下的國際顯示計量委員會 ICDM 負責編寫。國際顯示計量委員會 ICDM 對 3LCD 從業 科研人員在幾年前引入市場的「彩色亮度」指標進行的了前期審查工作, 並得出結論說,「彩色亮度」(CLO)是一項具有科學相關性的測量指標。 彩色亮度為消費者提供了一個評估投影機彩色表現能力的指標, 有利於消費者更好的做出購買選擇。
                </div>
                <img style="width:50%;height:50%;margin:5px 0px 10px 70px" src="http://epson.idv.tw/images/clo/img_04-1.png" is="image">
                <div class="ffy15">
                    彩色亮度的測量方法
                </div>
                <div class="ffw12">
                    IDMS 定義彩色亮度的測量方法
                    <br>亮度,即“光輸出”,它只是對白光的進行了測量。測量亮度,投影機製造商將螢幕分成 9 個相等面積。分別對 9 個面積的中心點進行照度的測量,將這 9 個點的照度值的平均值 與螢幕的面積相乘,即得出亮度。
                </div>
                <img style="width:100%;height:100%;margin:5px 0px 0px 0px" src="http://epson.idv.tw/images/clo/4fa61ed59ef731fc.png" is="image">
            </div>
            <div class="ffy15">
                3LCD 投影技術投影的影像 ,彩色亮度與白色亮度相等
            </div>
            <div class="ffw12">
                3LCD 投影技術採用 3 片獨立紅、綠、藍液晶面板成像 , 並通過棱鏡重新組合投影。
                <br>根據 IDMS 文件第 15.4 節定義的彩色亮度的程序, 我們可以很容易理解,3LCD 投影技術輸出圖像的 白色亮度 = 紅色亮度 + 藍色亮度 + 綠色亮度 = 彩色亮度
            </div>
            <img style="width:100%;height:100%;margin:5px 0px 0px 0px" src="http://epson.idv.tw/images/clo/Pro0661.png" is="image">
            <img style="width:50%;height:50%;margin:5px 0px 0px 70px" src="http://epson.idv.tw/images/clo/Unknown.gif" is="image">
            <img style="width:80%;height:80%;margin:5px 0px 0px 30px" src="http://epson.idv.tw/images/clo/img_06.png" is="image">
            <div class="ffy15">
                色彩亮度指南為何彩色亮度只測量 紅、藍、綠三顏色?其它顏色怎麼測量 ?
            </div>
            <div class="ffw12">
                我們的電腦與電視的彩色定義為相關的 紅、綠、藍三原色訊號構成。
                <br>例如 : 黃色在電腦螢幕上組合是紅色 100%與鮮綠色 100%,所以就沒有藍色。 所以 3LCD 投影機也是依照此 紅、藍、綠三原色原理來構成。 因此,測量紅、藍、綠三原色的亮度是非常重要的。
                <br>例如 : 在微軟視窗軟體裡,紅、綠、藍三原色各有 0-255 的值。 所有可以被電腦存儲或者可以在電腦上查看的顏色都由不同量級 的紅、綠、藍三原色來定義。
            </div>
            <img style="width:100%;height:100%;margin:5px 0px 0px 0px" src="http://epson.idv.tw/images/clo/46593.png" is="image">
        </div>
    </ul>
    <!-- END_CUSTOM_CODE_clo1 -->
</div>