<div data-role="view" data-title="技術原理的不同" data-layout="main" data-model="app.clo2" data-show="app.clo2.onShow" data-after-show="app.clo2.afterShow">

    <!-- START_CUSTOM_CODE_clo2 -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- Page: clo2  -->
    <div id="clo2" data-role="page" data-theme="b">
        <ul data-role="listview" data-inset="false">
            <div role="main" class="ui-content">
                <div id="textSize-57-20-20" style="font-size:16px; width:95%; margin:10px 0px 0px 0px; boredr:1px solid #000;">
                    <div class="ffy15">
                        技術原理的不同
                    </div>
                    <div class="ffw12">
                        3LCD 投影技術的原理是先利用投影機內的分色鏡將燈泡打出的白色光分解成R( 紅 )、G( 綠 )、B( 藍 ) 三種顏色 ( 光的三原色 ) 的光,接著三色光束需要分別透過 R、G、B 三色液晶板。在這個過程中,控制單元會通過控制液晶面板電路的開和閉合來 形成投影畫面所需的顏色、形狀和動作,最後這些「顏色、動作、形狀」經由稜鏡匯聚後 ,最終產生了我們在投影幕上看到的圖像。
                    </div>
                    <img style="width:100%;height:100%;margin:7px 0px 10px 0px" src="http://epson.idv.tw/images/clo/02_04.gif" is="image">
                    <div class="ui-grid-a" style="height:95px">
                        <div class="ui-block-a" style="height:100%">
                            <img style="width:10%;height:100%;margin:7px 0px 10px 100px" src="http://epson.idv.tw/images/clo/HTPS_TFT.png" is="image">
                            <img style="width:10%;height:100%;margin:7px 0px 10px 10px" src="http://epson.idv.tw/images/clo/HTPS_TFT.png" is="image">
                            <img style="width:10%;height:100%;margin:7px 0px 10px 10px" src="http://epson.idv.tw/images/clo/HTPS_TFT.png" is="image">
                        </div>
                    </div>

                    <br>
                    <div class="ffy15">
                        1-Chip DLP 投影技術
                    </div>
                    <div class="ffw12">
                        DLP 投影的工作原理是將燈泡發射出的強光,經過均勻化處理後,讓其通過一個色輪(ColorWheel),色輪會將光分成 RGB 三色 ( 或者 RGBW 等更多色 ),而分色後的光線再由 透鏡投射在 DMD 芯片上,最後由 DMD 芯片來完成投影畫面動作、色彩的組合,經反射後 在投影螢幕上成像。
                    </div>
                    <br>
                    <img style="width:100%;height:100%;margin:7px 0px 0px 0px" src="http://epson.idv.tw/images/clo/02_05.gif" is="image">
                    <img style="width:40%;height:100%;margin:7px 0px 0px 100px" src="http://epson.idv.tw/images/clo/1DLP.png" is="image">
                    <div class="ffy15">
                        以上資料來源皆取自
                    </div>
                    <a href="#" onclick="window.open(encodeURI('http://www.icdm-sid.org'), '_blank', 'location=no,enableViewportScale=yes' )"></a>
                    <div class="ffw13">
                        <a href="#" onclick="window.open(encodeURI('http://www.icdm-sid.org'), '_blank', 'location=no,enableViewportScale=yes' )">國際信息顯示協會 (ICDM) 網站:
              <br>http://www.icdm-sid.org</a>
                        <br>
                        <a href="#" onclick="window.open(encodeURI('http://www.3lcd.com/tw/'), '_blank', 'location=no,enableViewportScale=yes' )">
                            <br>有關3LCD資訊可前往3LCD網站:
                            <br>http://www.3lcd.com/tw/</a>
                        <br>
                        <a href="#" onclick="window.open(encodeURI('http://www.colorlightoutput.com/tw'), '_blank', 'location=no,enableViewportScale=yes' )">
                            <br>有關投影機彩色亮度與白色亮度網站:
                            <br>http://www.colorlightoutput.com/tw</a>
                        <br>
                        <a href="#" onclick="window.open(encodeURI('http://www.colorlightoutput.com/tw/CLO_Buyers_guide_TW.pdf'), '_blank', 'location=no,enableViewportScale=yes' )">
                            <br>下載彩色亮度買家指南</a>
                        <br>
                        <a href="#" onclick="window.open(encodeURI('http://www.colorlightoutput.com/tw/CLO_Buyers_guide_TW.pdf'), '_blank')">
                            <br>下載彩色亮度買家指南</a>
                        <br>
                        <a id="openExternalInAppBrowser">Link</a>
                        <div class="col">
                            <button class="button" id="openExternalInAppBrowser">Open external page with InAppBrowser</button>
                        </div>

                    </div>
                </div>
                <br>
            </div>
    </div>
    </ul>
    <!-- END_CUSTOM_CODE_clo2 -->
</div>