<div data-role="view" data-title="CLO" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">

    <!-- START_CUSTOM_CODE_home -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- Page: clo  -->

    <ul data-role="listview" data-inset="false">

        <!--視窗捏放-->
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=2.5, user-scalable=2">
        <div role="main" class="ui-content">
            <div id="textSize-57" style="font-size:16px; width:100%; margin: 10px auto; boredr:1px solid #000;">
                <img style="width:80%;height:50%;margin:-15px 0px 0px 0px" src="http://epson.idv.tw/images/clo/CLOlogo1024_1.png" is="image">
            </div>

            <div style="margin: -8px 0px 0px 0px;">
                <div class="f13">
                    <font color="#fff">評估投影機彩色表現能力</font>
                </div>
            </div>
            <div class="f13">
                <font color="#fff">最重要指南</font>
            </div>
            <div style="margin: 5px 0px 0px 0px;">
                <div class="f13"><font color="#fff">Colour Light Output</font>
                </div>
                <li>
                    <img style="width:100%;height:100%;margin:0px 0px 0px -30px" src="http://epson.idv.tw/images/clo/clo_632.png" is="image">
                </li>
            </div>
        </div>
    </ul>
    <!-- END_CUSTOM_CODE_home -->
</div>