<div data-role="view" data-title="彩色亮度的好處" data-layout="main" data-model="app.clo3" data-show="app.clo3.onShow" data-after-show="app.clo3.afterShow">

    <!-- START_CUSTOM_CODE_clo3 -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- Page: clo3  -->
    <div id="clo3" data-role="page" data-theme="b">
        <ul data-role="listview" data-inset="false">
            <div role="main" class="ui-content">
                <div id="textSize-57-20-20-13" style="font-size:16px; width:95%; margin:10px 0px 0px 0px; boredr:1px solid #000;">
                    <div class="ffy15">
                        彩色亮度的實際好處
                    </div>
                    <div class="ffr14">
                        消費者購買投影機的錯誤想法
                    </div>
                    <div class="ffw12">
                        所有投影機投影的圖像質量基本上是一樣的。
                        <br>實際情況:產品參數規格一樣,價位相近的不同投影機,投影圖像品質具有非常大差別。
                    </div>
                    <img style="width:100%;height:100%;margin:7px 0px 10px 0px" src="http://epson.idv.tw/images/clo/160421-0001.png" is="image">
                    <br>
                    <div class="ffy15">
                        簡單的採購投影機技巧
                    </div>
                    <div class="ffw12">
                        1、選擇高彩色亮度的投影機。
                        <br>2、選擇彩色亮度和白色亮度相等的投影機。
                    </div>
                    <img style="width:100%;height:100%;margin:7px 0px 10px 10px" src="http://epson.idv.tw/images/clo/160421-0002.png" is="image">
                    <img style="width:100%;height:100%;margin:7px 0px 0px 10px" src="http://epson.idv.tw/images/clo/160421-0003.png" is="image">
                    <div class="ffw12">
                        3、選購投影機時,請要求提供彩色亮度的參數值。
                        <br>
                        <div class="ffy12">
                            選購高彩色亮度的投影機是否會增加成本?
                        </div>彩色亮度與白色亮度相等,當然不必增加成本。
                        <br>彩色亮度是否對投影機來說是否很重要?
                        <br>當然重要,假設您家的 5 顆吊燈裝的燈泡,有三顆是20 瓦另兩顆是 8 瓦,您認為光線會平均嗎 ?
                        <br>所以對於準確的彩色亮度的色彩還原得到一致的平衡, 讓色彩更豐富。
                    </div>
                    <img style="width:100%;height:100%;margin:7px 0px 0px 5px" src="http://epson.idv.tw/images/clo/160421-0004.png" is="image">
                    <div class="ffy13">
                        當彩色亮度低於白色亮度時,會發生甚麼現向?
                    </div>
                    <div class="ffw12">
                        當彩色亮度低於白色亮度時,彩色圖片變暗,層次減少。減少了視覺感觀的下降與畫面彩色的準確性。
                    </div>
                    <div class="ffy13">
                        為何彩色亮度只測量 紅、藍、綠三顏色?其它顏色怎麼不測量?
                    </div>
                    <div class="ffw12">
                        我們的電腦與電視的色彩定義為相關的 紅、藍、綠三原色訊號構成。例如 : 黃色在電腦螢幕上組合是紅色 100%與鮮綠色 100%,所以就沒有藍色。 所以 3LCD 投影機也是依照此 紅、藍、綠三原色原理來構成。 因此,測量紅、綠、藍三原色的亮度是非常重要的。
                    </div>
                </div>
            </div>
        </ul>
        <!-- END_CUSTOM_CODE_clo3 -->
    </div>